.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.title {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Three columns of equal width */
    gap: 1rem;
    /* Space between rows and columns */
    padding: 1rem;
}

.project {
    display: grid;
    grid-template-columns: 0.01fr 2.5fr 1fr .7fr 1fr 2fr 1fr;
    background-color: var(--foreground-color);
    border-radius: 1rem;
    gap: 1rem;
    height: 7rem;
}

.color-bar {
    height: 100%;
    width: 1rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--primary-color);
    cursor: pointer;
}

.color-picker {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
}

.color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.project-name {
    font-size: 1rem;
    font-weight: bolder;
}

.last-modified {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.info-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.channels-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem;
    overflow: scroll;
}

.channel {
    padding: 0.25rem;
    border-radius: 5px;
    background-color: var(--color-purple);
    color: var(--text-color);
    font-size: 0.75rem;
}

.channel.sample {
    background-color: var(--color-orange);
    cursor: pointer;
}

.sample-playing {
    background-color: var(--color-green);
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.action {
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 5px;
    cursor: pointer;
}

.action:hover,
.action:focus {
    background-color: var(--secondary-color);
    transform: scale(1.2);
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.2s ease-in-out;
}

.action:not(:hover),
.action:not(:focus) {
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.2s ease-in-out;
}

.action.delete {
    color: var(--danger-color);
}

.action.open {
    color: var(--info-color);
}

.action.folder-open {
    color: var(--warning-color);
}

.info-icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
    fill: white !important;
    color: white !important;
}

.tag-icon {
    font-size: .75rem;
    margin-right: 0.25rem;
    fill: white !important;
    color: white !important;

}

.tag {
    padding: 0.35rem;
    margin: 0.1rem;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 0.55rem;
    display: flex;
    align-items: center;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.channel.none-found {
    background-color: var(--foreground-color);
    color: var(--secondary-color);
    font-style: italic;
}

.empty-playlist {
    font-size: 0.85rem;
    color: var(--secondary-color);
    font-style: italic;
}

.add-tag-button-container {
    cursor: pointer;
    background-color: var(--foreground-color);
    color: var(--text-color);
    font-size: 0.55rem;
    outline: 1px solid var(--secondary-color);
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
}

.add-tag-button {
    font-size: 0.75rem;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .project {
        grid-template-columns: 1fr;
        height: auto;
        padding: 0.5rem;
    }

    .info-column,
    .main-info,
    .last-modified,
    .actions {
        flex-direction: column;
        align-items: start;
    }

    .title {
        font-size: 2rem;
        /* Smaller font size for smaller screens */
    }
}