/* Global Styles */

:root {
    --primary-color: #4CAF50;
    /* Business green */
    --secondary-color: #555B6E;
    /* Slate grey */
    --success-color: #4CAF50;
    /* Consistent business green */
    --danger-color: #E63946;
    /* Strong red */
    --warning-color: #FFC107;
    /* Amber */
    --info-color: #2196F3;
    /* Bright blue */
    --background-color: #121921;
    /* Very dark blue */
    --foreground-color: #1C2531;
    /* Dark blue grey */
    --text-color: #FFFFFF;
    /* Pure white */

    --color-blue: #2196F3;
    --color-green: #4CAF50;
    --color-red: #E63946;
    --color-yellow: #FFC107;
    --color-grey: #555B6E;
    --color-purple: #673AB7;
    --color-orange: #FF5722;
    --color-pink: #E91E63;
    --color-cyan: #00BCD4;
    --color-teal: #009688;
    --color-lime: #CDDC39;
    --color-amber: #FFC107;

    /* Fonts */
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the root font */
html {
    font-size: var(--font-size);
    font: 1rem/var(--line-height) var(--font-family);
}

/* Set the body background color and text color */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* Use the new variable for text color */
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}